beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
configparser==3.5.0
cycler==0.10.0
idna==2.6
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
numpy==1.14.2
oandapyV20==0.6.3
pandas==0.22.0
pandas-datareader==0.6.0
pipenv==2018.5.18
post==1.0.2
public==0.0.38
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
query-string==0.0.12
request==0.0.13
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
six==1.11.0
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
wrapt==1.10.11
